In [1]:
import pandas as pd

reading links and loading the list of tables using read_html

In [32]:
#reading table
df_wiki=pd.read_html(r'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [33]:
df_wiki_cleansed=df_wiki[0]

assigning columns and removing first row

In [34]:
df_wiki_cleansed.columns=df_wiki_cleansed.iloc[0]

In [45]:
df_wiki_cleansed.head(10)

0  Postcode           Borough     Neighbourhood
1       M1A      Not assigned      Not assigned
2       M2A      Not assigned      Not assigned
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A  Downtown Toronto      Queen's Park
9       M8A      Not assigned      Not assigned
10      M9A      Queen's Park      Not assigned

In [39]:
df_wiki_cleansed.drop(df_wiki_cleansed.index[0],inplace=True)

Filtering unassigned borrough

In [46]:
df_wiki_borrough=df_wiki_cleansed[df_wiki_cleansed["Borough"]<>'Not assigned']

grouping by postalcode and borough and getting neighborhood as a single row seperated by comma

In [72]:
#collapsing rows
df_wiki_borrough_collapsed=df_wiki_borrough.groupby(['Postcode','Borough'])['Neighbourhood'].apply(lambda x : ",".join(x) ).reset_index()

#changing column name

In [75]:
df_wiki_borrough_collapsed.columns=df_wiki_cleansed.columns

In [78]:
df_wiki_borrough_collapsed.head(1)

0 Postcode      Borough  Neighbourhood
0      M1B  Scarborough  Rouge,Malvern

assigning borough for neighborhood if neighborhood is un assigned

creating a function for assigning neighborhood to borough if neighborhood is unassigned

In [80]:
 def assign_neighbor(row):
    if row['Neighbourhood'] == 'Not assigned':
        return row['Borough'] 
    else :return  row['Neighbourhood']

In [83]:
df_wiki_borrough_collapsed['Neighbourhood']=df_wiki_borrough_collapsed.apply(assign_neighbor,axis=1)

printing the shape

In [85]:
df_wiki_borrough_collapsed.shape

(103, 3)

loading lat long

In [93]:
df_lat_long=pd.read_csv('/home/somanath/Downloads/feature_eng/reading_Data_with_pandas/Geospatial_Coordinates.csv',
                       )

Joining PostCode and Latitude

In [122]:
df_lat_long_combine=pd.merge(df_wiki_borrough_collapsed, df_lat_long, left_on='Postcode', right_on='Postal Code').drop('Postal Code',axis=1)

In [124]:
df_lat_long_combine.head(5)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476